table, th, td {
    border:1px solid black;
  }

header, h2 {
    text-align: center;
}

img {
    border-radius: 50%;
    width: 300px;
}

body {
    font-family: 'Roboto', sans-serif;
}

header, nav, aside, section, h2 {
    background-color: rgb(195, 241, 226);
   }

   footer{
    text-align: right;
   }