div:hover {
    border: 5px solid yellowgreen;
    border-style: dotted;
}

div:nth-of-type(1) {
    background-color: aquamarine;
    color: red
}


div:nth-of-type(2) {
    background-color: violet;
    color: green
}


div:nth-of-type(3) {
    background-color: blue;
    color: pink;
    height: 90px; 
}

div:nth-of-type(4) {
    background-color: yellow;
    color:orange;
}


div:nth-of-type(5) {
    background-color: brown;
    color: aliceblue;
}

div:nth-of-type(2n+1) > h3 {
    font-style: italic;
}