h1,
p {
    text-align: center;
}

li:hover {
    background-color: yellowgreen;
}

li:active {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul, li {
    list-style: none;
}